*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spazioCentro{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}